/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  	height: 100%;
  	width: 100%;
  }

html {
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	background: url(fun.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 25%;
}

img {
	display: none;
}

.window {
	width: 400px;
	height: 600px;
	position: absolute;
	left: 55%;
	top: 10%;
	border-radius: 10px;
	background-color: rgba(100,100,100,0.5);
	padding: 25px;
	box-sizing: border-box;
}

h1 {
	font-family: 'Pacifico', cursive;
	text-align: left;
	color: #fff;
	font-size: 2.5em;
}

p {
  font-family:'Roboto', sans-serif;
  color: #fff;
  line-height: 150%;
  text-align: center-left;
  margin: 15px auto;
}

.iconText {
	font-size: 0.9em;
}

#one {
	margin: 40px 0 0 0;
}

i {
	font-size: 1.25em;
	margin: 5px;
}

a {
	color: inherit;
	text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@media only screen and (min-width: 550px) and (max-width: 900px){
	.window {
		left: 45%;
		width: 300px;
	}
	p {
		font-size: 0.9em;
		margin: 10px auto;
	}
	.iconText {
		font-size: 0.8em;
	}
	#one {
		margin: 30px 0 0 0;
	}
}

@media only screen and (min-width: 0px) and (max-width: 550px){
	.container {
		background: none;
	}
	img {
		display: block;
		width: 100%;
	}
	.window {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		border-radius: 0;
	}
}































